.co{
position: absolute;
width: 470.84px;
height: 47px;
left: 810.16px;
top: 185px;
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
font-size: 1.2rem;
padding-left: 0.5rem;
z-index: 1000;
}
.co:active{
    border: none;
}
